In [34]:
import pandas as pd
import numpy as np
import math

In [35]:
starter_df = pd.read_csv('data/nyimes_covid_data_by_county.csv')
len(starter_df[starter_df['Hospitalized Daily Avg'] == '—']) == len(starter_df)

False

In [36]:
#starter_df = starter_df.drop(['Hospitalized Daily Avg'], axis=1)
starter_df.head(50)

,Unnamed: 0,County,Total Cases,Total Cases per 100k,Total Deaths,Total Deaths per 100k,Fully Vaccinated,Daily Case Avg,Daily Case 14-Day change %,Hospitalized Daily Avg,Hosp. Daily per 100k,Hosp. Daily change %,Deaths Daily Avg.,Deaths Daily per 100k
0,2423,Abbeville ›,"2,576","10,503",41,167,26%,3,9,8,–55%,0.1,0.47,32%
1,1138,Acadia ›,"6,545","10,549",192,309,24%,15,10,8,+10%,0.0,—,20%
2,2939,Accomack ›,"2,830","8,757",41,127,—,13,5,7,–34%,0.6,0.23,—
3,2131,Adair ›,"3,181","14,333",41,185,18%,6,7,7,–19%,0.1,0.18,27%
4,822,Adair ›,865,"12,095",32,447,34%,1,9,14,+99%,0.1,1.34,39%
5,1539,Adair ›,"2,465","9,727",20,79,30%,<1,6,11,–12%,0.0,—,19%
6,1047,Adair ›,"1,888","9,832",54,281,23%,<1,16,20,—,0.0,—,25%
7,3184,Adams ›,"1,945","9,619",17,84,37%,<1,4,—,—,0.0,—,36%
8,1704,Adams ›,"2,970","9,470",46,147,26%,<1,6,14,+156%,0.0,—,29%
9,2021,Adams ›,270,"12,184",3,135,36%,<1,5,—,–100%,0.0,—,52%
10,607,Adams ›,"8,452","12,917",152,232,35%,10,21,7,–58%,0.4,0.88,35%
11,760,Adams ›,"3,484","9,738",55,154,23%,2,9,8,–1%,0.3,1.09,33%
12,3028,Adams ›,"2,132","10,669",22,110,26%,23,30,7,–6%,0.3,0.38,33%
13,578,Adams ›,341,"7,941",4,93,29%,<1,4,—,–100%,0.0,—,27%
14,870,Adams ›,338,"9,384",4,111,37%,<1,3,2,–48%,0.0,—,37%
15,250,Adams ›,"59,341","11,469",720,139,—,13,27,—,–100%,0.1,0.30,—
16,1469,Adams ›,"2,868","9,344",82,267,26%,<1,3,6,+29%,0.1,1.28,22%
17,2272,Adams ›,"9,373","9,099",180,175,30%,57,16,18,–33%,0.9,0.25,36%
18,2096,Adams ›,"2,393","8,640",52,188,20%,3,5,6,+36%,0.0,—,34%
19,557,Ada ›,"52,189","10,837",467,97,38%,6,5,13,–24%,0.0,—,28%
20,2890,Addison ›,"1,042","2,833",8,22,—,2,6,2,–59%,0.0,—,—
21,2368,Adjuntas,549,"3,173",—,—,23%,<1,5,—,—,0.0,—,28%
22,2351,Aguada,"1,522","4,156",—,—,26%,<1,8,—,—,0.0,—,51%
23,2360,Aguadilla,"1,842","3,640",—,—,27%,2,6,—,—,0.0,—,26%
24,2328,Aguas Buenas,"1,355","5,453",—,—,29%,16,9,—,—,0.0,—,34%
25,2362,Aibonito,793,"3,581",—,—,38%,2,6,—,—,0.0,—,28%
26,2426,Aiken ›,"17,304","10,127",224,131,26%,2,8,7,–45%,0.0,—,22%
27,1390,Aitkin ›,"1,347","8,479",36,227,43%,<1,7,13,–38%,0.0,—,37%
28,360,Alachua ›,"25,009","9,296",279,104,36%,11,10,13,+4%,0.6,0.52,39%
29,1912,Alamance ›,"18,189","10,730",277,163,33%,34,14,15,–8%,0.3,0.12,28%
30,229,Alameda ›,"87,961","5,263","1,657",99,45%,<1,6,5,–5%,0.0,—,—
31,262,Alamosa ›,"1,565","9,641",31,191,—,4,15,—,–100%,0.0,—,—
32,3195,Albany ›,"4,406","11,332",12,31,34%,4,18,—,—,0.0,—,25%
33,1851,Albany ›,"24,385","7,982",350,115,48%,8,14,9,–27%,0.0,—,46%
34,3017,Albemarle ›,"5,768","5,276",83,76,—,<1,2,8,–36%,0.1,2.05,—
35,1302,Alcona ›,726,"6,977",29,279,42%,1,17,—,—,0.0,—,50%
36,1475,Alcorn ›,"3,133","8,478",68,184,20%,<1,2,—,–100%,0.0,—,27%
37,71,Aleutians East Borough ›,365,"10,938",3,90,31%,5,9,1,–80%,0.0,—,32%
38,69,Aleutians West Census Area,697,"12,371",0,—,29%,14,15,10,+3%,0.4,0.44,31%
39,691,Alexander ›,468,"8,124",11,191,17%,<1,3,10,+24%,0.0,—,35%
40,1896,Alexander ›,"4,397","11,726",84,224,27%,4,19,4,–16%,0.0,—,24%
41,2971,Alexandria ›,"11,780","7,389",135,85,—,2,8,7,–27%,0.1,0.47,—
42,2126,Alfalfa ›,"1,154","20,239",6,105,33%,7,17,7,–15%,0.1,0.37,24%
43,1297,Alger ›,662,"7,268",6,66,43%,10,11,14,–53%,0.7,0.77,46%
44,846,Allamakee ›,"1,514","11,062",51,373,37%,<1,6,12,+300%,0.0,—,36%
45,1191,Allegany ›,"6,912","9,816",208,295,33%,82,14,34,–25%,2.4,0.41,34%
46,1856,Allegany ›,"3,398","7,372",84,182,27%,19,12,6,+11%,0.4,0.28,43%
47,1270,Allegan ›,"10,784","9,133",139,118,32%,394,22,30,–33%,14.0,0.80,31%
48,1936,Alleghany ›,"1,051","9,437",5,45,35%,7,11,8,–6%,0.3,0.45,26%
49,2934,Alleghany ›,"1,342","9,031",48,323,—,5,6,4,–61%,0.0,—,—

In [37]:
starter_df['Deaths Daily Avg.'] = starter_df['Deaths Daily Avg.'].replace(to_replace='—',value=np.nan)

In [38]:
def p2f(x):
    if x == 0 or x == None:
        pass
    else:
        return float(x.strip('%'))
    
starter_df['Fully Vaccinated'] = starter_df['Fully Vaccinated'].replace(to_replace='—',value=0)
starter_df['Fully Vaccinated'] = starter_df['Fully Vaccinated'].map(p2f)

In [39]:
starter_df['Hosp. Daily per 100k'] = starter_df['Hosp. Daily per 100k'].replace(to_replace='—',value=np.nan)
starter_df['Hosp. Daily per 100k'].unique()

array(['–55%', '+10%', '–34%', '–19%', '+99%', '–12%', nan, '+156%',
       '–100%', '–58%', '–1%', '–6%', '–48%', '+29%', '–33%', '+36%',
       '–24%', '–59%', '–45%', '–38%', '+4%', '–8%', '–5%', '–27%',
       '–36%', '–80%', '+3%', '+24%', '–16%', '–15%', '–53%', '+300%',
       '–25%', '+11%', '–61%', '+26%', '–32%', '–26%', '+210%', '–18%',
       '–30%', '+27%', '–65%', '–46%', '–22%', '+1%', '–74%', '–39%',
       '+14%', '–70%', '+118%', '–62%', '–47%', '+22%', '–72%', '+346%',
       '+13%', '–23%', '–35%', '+16%', '–31%', '–17%', '+72%', '–11%',
       '–44%', '–49%', '–37%', '–10%', '+6%', '+106%', '–21%', '–43%',
       '–42%', '–41%', '–2%', '–20%', '–69%', '+25%', '–29%', '–40%',
       '–67%', '–14%', '–73%', 'Flat', '–9%', '+251%', '+182%', '+9%',
       '+180%', '–76%', '–66%', '–13%', '+54%', '+123%', '+37%', '+33%',
       '+5%', '–64%', '+34%', '+8%', '+133%', '+71%', '–7%', '–71%',
       '+75%', '+43%', '+7%', '–3%', '+2%', '–4%', '–57%', '+28%', '–50%',
       '–79%', '–28%', '+47%', '+21%', '+85%', '+12%', '+115%', '+19%',
       '+38%', '+30%', '+65%', '–54%', '+58%', '+463%', '+15%', '+122%',
       '–86%', '–78%', '–51%', '+173%', '+41%', '+137%', '+80%', '–90%',
       '+66%', '+17%', '–63%', '+95%', '+35%', '–85%', '+61%', '–84%',
       '+92%', '+121%', '+470%', '+64%', '+18%', '+45%', '+142%', '+86%',
       '+113%', '+48%', '+68%', '+40%', '+604%', '–56%', '+46%', '–77%',
       '–75%', '–52%', '+20%', '+42%', '–87%', '–60%', '+32%', '+49%',
       '–68%', '+70%', '+44%', '+104%', '–91%', '+55%', '+152%', '+39%',
       '+56%', '+31%', '–82%', '+216%', '+126%', '+252%', '–89%', '+143%',
       '+195%', '+60%', '+82%', '+365%', '+100%', '+81%', '+178%',
       '+847%', '+96%', '+63%', '+131%', '+52%', '+69%', '+200%', '+87%',
       '+91%', '+160%', '+276%', '+23%', '+211%', '+125%', '–81%'],
      dtype=object)

In [40]:
def clean_string(s):
    if type(s) != str:
        pass
    else:
        return s.replace('–', '-')

starter_df['Hosp. Daily per 100k'] = starter_df['Hosp. Daily per 100k'].map(clean_string)

In [41]:
starter_df['Hosp. Daily per 100k'] = starter_df['Hosp. Daily per 100k'].replace(to_replace='Flat',value=0)
starter_df['Hosp. Daily per 100k'] = starter_df['Hosp. Daily per 100k'].map(p2f)

In [42]:
starter_df['Hosp. Daily per 100k'].fillna(0, inplace=True)
starter_df['Fully Vaccinated'].fillna(0, inplace=True)
starter_df['Daily Case Avg'].replace(to_replace='<1',value=1, inplace=True)

In [43]:
starter_df.replace(to_replace='—', value=pd.NA, inplace=True)

In [44]:
starter_df['Deaths Daily per 100k'].fillna(-1, inplace=True)

In [45]:
starter_df['Deaths Daily per 100k'] = starter_df['Deaths Daily per 100k'].map(str)
starter_df['Deaths Daily per 100k'] = starter_df['Deaths Daily per 100k'].map(p2f)
starter_df.head(50)

,Unnamed: 0,County,Total Cases,Total Cases per 100k,Total Deaths,Total Deaths per 100k,Fully Vaccinated,Daily Case Avg,Daily Case 14-Day change %,Hospitalized Daily Avg,Hosp. Daily per 100k,Hosp. Daily change %,Deaths Daily Avg.,Deaths Daily per 100k
0,2423,Abbeville ›,"2,576","10,503",41,167,26.0,3,9,8,-55.0,0.1,0.47,32.0
1,1138,Acadia ›,"6,545","10,549",192,309,24.0,15,10,8,10.0,0.0,NaN,20.0
2,2939,Accomack ›,"2,830","8,757",41,127,0.0,13,5,7,-34.0,0.6,0.23,-1.0
3,2131,Adair ›,"3,181","14,333",41,185,18.0,6,7,7,-19.0,0.1,0.18,27.0
4,822,Adair ›,865,"12,095",32,447,34.0,1,9,14,99.0,0.1,1.34,39.0
5,1539,Adair ›,"2,465","9,727",20,79,30.0,1,6,11,-12.0,0.0,NaN,19.0
6,1047,Adair ›,"1,888","9,832",54,281,23.0,1,16,20,0.0,0.0,NaN,25.0
7,3184,Adams ›,"1,945","9,619",17,84,37.0,1,4,<NA>,0.0,0.0,NaN,36.0
8,1704,Adams ›,"2,970","9,470",46,147,26.0,1,6,14,156.0,0.0,NaN,29.0
9,2021,Adams ›,270,"12,184",3,135,36.0,1,5,<NA>,-100.0,0.0,NaN,52.0
10,607,Adams ›,"8,452","12,917",152,232,35.0,10,21,7,-58.0,0.4,0.88,35.0
11,760,Adams ›,"3,484","9,738",55,154,23.0,2,9,8,-1.0,0.3,1.09,33.0
12,3028,Adams ›,"2,132","10,669",22,110,26.0,23,30,7,-6.0,0.3,0.38,33.0
13,578,Adams ›,341,"7,941",4,93,29.0,1,4,<NA>,-100.0,0.0,NaN,27.0
14,870,Adams ›,338,"9,384",4,111,37.0,1,3,2,-48.0,0.0,NaN,37.0
15,250,Adams ›,"59,341","11,469",720,139,0.0,13,27,<NA>,-100.0,0.1,0.30,-1.0
16,1469,Adams ›,"2,868","9,344",82,267,26.0,1,3,6,29.0,0.1,1.28,22.0
17,2272,Adams ›,"9,373","9,099",180,175,30.0,57,16,18,-33.0,0.9,0.25,36.0
18,2096,Adams ›,"2,393","8,640",52,188,20.0,3,5,6,36.0,0.0,NaN,34.0
19,557,Ada ›,"52,189","10,837",467,97,38.0,6,5,13,-24.0,0.0,NaN,28.0
20,2890,Addison ›,"1,042","2,833",8,22,0.0,2,6,2,-59.0,0.0,NaN,-1.0
21,2368,Adjuntas,549,"3,173",<NA>,<NA>,23.0,1,5,<NA>,0.0,0.0,NaN,28.0
22,2351,Aguada,"1,522","4,156",<NA>,<NA>,26.0,1,8,<NA>,0.0,0.0,NaN,51.0
23,2360,Aguadilla,"1,842","3,640",<NA>,<NA>,27.0,2,6,<NA>,0.0,0.0,NaN,26.0
24,2328,Aguas Buenas,"1,355","5,453",<NA>,<NA>,29.0,16,9,<NA>,0.0,0.0,NaN,34.0
25,2362,Aibonito,793,"3,581",<NA>,<NA>,38.0,2,6,<NA>,0.0,0.0,NaN,28.0
26,2426,Aiken ›,"17,304","10,127",224,131,26.0,2,8,7,-45.0,0.0,NaN,22.0
27,1390,Aitkin ›,"1,347","8,479",36,227,43.0,1,7,13,-38.0,0.0,NaN,37.0
28,360,Alachua ›,"25,009","9,296",279,104,36.0,11,10,13,4.0,0.6,0.52,39.0
29,1912,Alamance ›,"18,189","10,730",277,163,33.0,34,14,15,-8.0,0.3,0.12,28.0
30,229,Alameda ›,"87,961","5,263","1,657",99,45.0,1,6,5,-5.0,0.0,NaN,-1.0
31,262,Alamosa ›,"1,565","9,641",31,191,0.0,4,15,<NA>,-100.0,0.0,NaN,-1.0
32,3195,Albany ›,"4,406","11,332",12,31,34.0,4,18,<NA>,0.0,0.0,NaN,25.0
33,1851,Albany ›,"24,385","7,982",350,115,48.0,8,14,9,-27.0,0.0,NaN,46.0
34,3017,Albemarle ›,"5,768","5,276",83,76,0.0,1,2,8,-36.0,0.1,2.05,-1.0
35,1302,Alcona ›,726,"6,977",29,279,42.0,1,17,<NA>,0.0,0.0,NaN,50.0
36,1475,Alcorn ›,"3,133","8,478",68,184,20.0,1,2,<NA>,-100.0,0.0,NaN,27.0
37,71,Aleutians East Borough ›,365,"10,938",3,90,31.0,5,9,1,-80.0,0.0,NaN,32.0
38,69,Aleutians West Census Area,697,"12,371",0,<NA>,29.0,14,15,10,3.0,0.4,0.44,31.0
39,691,Alexander ›,468,"8,124",11,191,17.0,1,3,10,24.0,0.0,NaN,35.0
40,1896,Alexander ›,"4,397","11,726",84,224,27.0,4,19,4,-16.0,0.0,NaN,24.0
41,2971,Alexandria ›,"11,780","7,389",135,85,0.0,2,8,7,-27.0,0.1,0.47,-1.0
42,2126,Alfalfa ›,"1,154","20,239",6,105,33.0,7,17,7,-15.0,0.1,0.37,24.0
43,1297,Alger ›,662,"7,268",6,66,43.0,10,11,14,-53.0,0.7,0.77,46.0
44,846,Allamakee ›,"1,514","11,062",51,373,37.0,1,6,12,300.0,0.0,NaN,36.0
45,1191,Allegany ›,"6,912","9,816",208,295,33.0,82,14,34,-25.0,2.4,0.41,34.0
46,1856,Allegany ›,"3,398","7,372",84,182,27.0,19,12,6,11.0,0.4,0.28,43.0
47,1270,Allegan ›,"10,784","9,133",139,118,32.0,394,22,30,-33.0,14.0,0.80,31.0
48,1936,Alleghany ›,"1,051","9,437",5,45,35.0,7,11,8,-6.0,0.3,0.45,26.0
49,2934,Alleghany ›,"1,342","9,031",48,323,0.0,5,6,4,-61.0,0.0,NaN,-1.0

In [47]:
ddeaths_100k_mean = starter_df['Deaths Daily per 100k'].mean()
starter_df['Deaths Daily per 100k'].replace(to_replace=-1,value=ddeaths_100k_mean, inplace=True)
starter_df.head(50)

,Unnamed: 0,County,Total Cases,Total Cases per 100k,Total Deaths,Total Deaths per 100k,Fully Vaccinated,Daily Case Avg,Daily Case 14-Day change %,Hospitalized Daily Avg,Hosp. Daily per 100k,Hosp. Daily change %,Deaths Daily Avg.,Deaths Daily per 100k
0,2423,Abbeville ›,"2,576","10,503",41,167,26.0,3,9,8,-55.0,0.1,0.47,32.000000
1,1138,Acadia ›,"6,545","10,549",192,309,24.0,15,10,8,10.0,0.0,NaN,20.000000
2,2939,Accomack ›,"2,830","8,757",41,127,0.0,13,5,7,-34.0,0.6,0.23,25.536858
3,2131,Adair ›,"3,181","14,333",41,185,18.0,6,7,7,-19.0,0.1,0.18,27.000000
4,822,Adair ›,865,"12,095",32,447,34.0,1,9,14,99.0,0.1,1.34,39.000000
5,1539,Adair ›,"2,465","9,727",20,79,30.0,1,6,11,-12.0,0.0,NaN,19.000000
6,1047,Adair ›,"1,888","9,832",54,281,23.0,1,16,20,0.0,0.0,NaN,25.000000
7,3184,Adams ›,"1,945","9,619",17,84,37.0,1,4,<NA>,0.0,0.0,NaN,36.000000
8,1704,Adams ›,"2,970","9,470",46,147,26.0,1,6,14,156.0,0.0,NaN,29.000000
9,2021,Adams ›,270,"12,184",3,135,36.0,1,5,<NA>,-100.0,0.0,NaN,52.000000
10,607,Adams ›,"8,452","12,917",152,232,35.0,10,21,7,-58.0,0.4,0.88,35.000000
11,760,Adams ›,"3,484","9,738",55,154,23.0,2,9,8,-1.0,0.3,1.09,33.000000
12,3028,Adams ›,"2,132","10,669",22,110,26.0,23,30,7,-6.0,0.3,0.38,33.000000
13,578,Adams ›,341,"7,941",4,93,29.0,1,4,<NA>,-100.0,0.0,NaN,27.000000
14,870,Adams ›,338,"9,384",4,111,37.0,1,3,2,-48.0,0.0,NaN,37.000000
15,250,Adams ›,"59,341","11,469",720,139,0.0,13,27,<NA>,-100.0,0.1,0.30,25.536858
16,1469,Adams ›,"2,868","9,344",82,267,26.0,1,3,6,29.0,0.1,1.28,22.000000
17,2272,Adams ›,"9,373","9,099",180,175,30.0,57,16,18,-33.0,0.9,0.25,36.000000
18,2096,Adams ›,"2,393","8,640",52,188,20.0,3,5,6,36.0,0.0,NaN,34.000000
19,557,Ada ›,"52,189","10,837",467,97,38.0,6,5,13,-24.0,0.0,NaN,28.000000
20,2890,Addison ›,"1,042","2,833",8,22,0.0,2,6,2,-59.0,0.0,NaN,25.536858
21,2368,Adjuntas,549,"3,173",<NA>,<NA>,23.0,1,5,<NA>,0.0,0.0,NaN,28.000000
22,2351,Aguada,"1,522","4,156",<NA>,<NA>,26.0,1,8,<NA>,0.0,0.0,NaN,51.000000
23,2360,Aguadilla,"1,842","3,640",<NA>,<NA>,27.0,2,6,<NA>,0.0,0.0,NaN,26.000000
24,2328,Aguas Buenas,"1,355","5,453",<NA>,<NA>,29.0,16,9,<NA>,0.0,0.0,NaN,34.000000
25,2362,Aibonito,793,"3,581",<NA>,<NA>,38.0,2,6,<NA>,0.0,0.0,NaN,28.000000
26,2426,Aiken ›,"17,304","10,127",224,131,26.0,2,8,7,-45.0,0.0,NaN,22.000000
27,1390,Aitkin ›,"1,347","8,479",36,227,43.0,1,7,13,-38.0,0.0,NaN,37.000000
28,360,Alachua ›,"25,009","9,296",279,104,36.0,11,10,13,4.0,0.6,0.52,39.000000
29,1912,Alamance ›,"18,189","10,730",277,163,33.0,34,14,15,-8.0,0.3,0.12,28.000000
30,229,Alameda ›,"87,961","5,263","1,657",99,45.0,1,6,5,-5.0,0.0,NaN,25.536858
31,262,Alamosa ›,"1,565","9,641",31,191,0.0,4,15,<NA>,-100.0,0.0,NaN,25.536858
32,3195,Albany ›,"4,406","11,332",12,31,34.0,4,18,<NA>,0.0,0.0,NaN,25.000000
33,1851,Albany ›,"24,385","7,982",350,115,48.0,8,14,9,-27.0,0.0,NaN,46.000000
34,3017,Albemarle ›,"5,768","5,276",83,76,0.0,1,2,8,-36.0,0.1,2.05,25.536858
35,1302,Alcona ›,726,"6,977",29,279,42.0,1,17,<NA>,0.0,0.0,NaN,50.000000
36,1475,Alcorn ›,"3,133","8,478",68,184,20.0,1,2,<NA>,-100.0,0.0,NaN,27.000000
37,71,Aleutians East Borough ›,365,"10,938",3,90,31.0,5,9,1,-80.0,0.0,NaN,32.000000
38,69,Aleutians West Census Area,697,"12,371",0,<NA>,29.0,14,15,10,3.0,0.4,0.44,31.000000
39,691,Alexander ›,468,"8,124",11,191,17.0,1,3,10,24.0,0.0,NaN,35.000000
40,1896,Alexander ›,"4,397","11,726",84,224,27.0,4,19,4,-16.0,0.0,NaN,24.000000
41,2971,Alexandria ›,"11,780","7,389",135,85,0.0,2,8,7,-27.0,0.1,0.47,25.536858
42,2126,Alfalfa ›,"1,154","20,239",6,105,33.0,7,17,7,-15.0,0.1,0.37,24.000000
43,1297,Alger ›,662,"7,268",6,66,43.0,10,11,14,-53.0,0.7,0.77,46.000000
44,846,Allamakee ›,"1,514","11,062",51,373,37.0,1,6,12,300.0,0.0,NaN,36.000000
45,1191,Allegany ›,"6,912","9,816",208,295,33.0,82,14,34,-25.0,2.4,0.41,34.000000
46,1856,Allegany ›,"3,398","7,372",84,182,27.0,19,12,6,11.0,0.4,0.28,43.000000
47,1270,Allegan ›,"10,784","9,133",139,118,32.0,394,22,30,-33.0,14.0,0.80,31.000000
48,1936,Alleghany ›,"1,051","9,437",5,45,35.0,7,11,8,-6.0,0.3,0.45,26.000000
49,2934,Alleghany ›,"1,342","9,031",48,323,0.0,5,6,4,-61.0,0.0,NaN,25.536858

In [48]:
extra_col_name = starter_df.columns[0]

starter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3215 entries, 0 to 3214
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  3215 non-null   int64
 1   County                      3215 non-null   object
 2   Total Cases                 3215 non-null   object
 3   Total Cases per 100k        3215 non-null   object
 4   Total Deaths                3137 non-null   object
 5   Total Deaths per 100k       3090 non-null   object
 6   Fully Vaccinated            3215 non-null   float64
 7   Daily Case Avg              3215 non-null   object
 8   Daily Case 14-Day change %  3007 non-null   object
 9   Hospitalized Daily Avg      2353 non-null   object
 10  Hosp. Daily per 100k        3215 non-null   float64
 11  Hosp. Daily change %        3215 non-null   float64
 12  Deaths Daily Avg.           1153 non-null   object
 13  Deaths Daily per 100k       3215 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 351.8+ KB

In [49]:
#starter_df.convert_object(convert_numeric=True, convert_dates=False, convert_timedelta=False)

In [50]:
starter_df.columns

Index(['Unnamed: 0', 'County', 'Total Cases', 'Total Cases per 100k',
       'Total Deaths', 'Total Deaths per 100k', 'Fully Vaccinated',
       'Daily Case Avg', 'Daily Case 14-Day change %',
       'Hospitalized Daily Avg', 'Hosp. Daily per 100k',
       'Hosp. Daily change %', 'Deaths Daily Avg.', 'Deaths Daily per 100k'],
      dtype='object')

In [51]:
starter_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [52]:
starter_df['Total Cases'] = starter_df['Total Cases'].apply(lambda x: np.float64(x.replace(',','')))

In [53]:
starter_df['Total Cases per 100k'] = starter_df['Total Cases per 100k'].apply(lambda x: np.float64(x.replace(',','')))
starter_df

,County,Total Cases,Total Cases per 100k,Total Deaths,Total Deaths per 100k,Fully Vaccinated,Daily Case Avg,Daily Case 14-Day change %,Hospitalized Daily Avg,Hosp. Daily per 100k,Hosp. Daily change %,Deaths Daily Avg.,Deaths Daily per 100k
0,Abbeville ›,2576.0,10503.0,41,167,26.0,3,9,8,-55.0,0.1,0.47,32.000000
1,Acadia ›,6545.0,10549.0,192,309,24.0,15,10,8,10.0,0.0,NaN,20.000000
2,Accomack ›,2830.0,8757.0,41,127,0.0,13,5,7,-34.0,0.6,0.23,25.536858
3,Adair ›,3181.0,14333.0,41,185,18.0,6,7,7,-19.0,0.1,0.18,27.000000
4,Adair ›,865.0,12095.0,32,447,34.0,1,9,14,99.0,0.1,1.34,39.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,Yuma ›,910.0,9083.0,17,170,0.0,1,122,<NA>,0.0,0.0,NaN,25.536858
3211,Yuma ›,37159.0,17381.0,834,390,35.0,7,14,6,-10.0,0.1,0.31,53.000000
3212,Zapata ›,1769.0,12476.0,36,254,39.0,10,8,2,-79.0,0.4,0.31,25.000000
3213,Zavala ›,1859.0,15701.0,41,346,30.0,6,19,2,-56.0,0.1,0.49,25.000000
3214,Ziebach ›,344.0,12482.0,9,327,16.0,1,4,6,-32.0,0.0,NaN,27.000000

In [54]:
starter_df['Total Cases'] = starter_df['Total Cases'].apply(lambda x: np.float64(x.replace(',','')))

AttributeError: 'float' object has no attribute 'replace'

In [55]:
col_to_strip = ['Total Deaths','Total Deaths per 100k']
for col in col_to_strip:
        starter_df[col] = starter_df[col].apply(lambda x: x if type(x) != str else np.float64(x.replace(',','')))

TypeError: can only concatenate str (not "int") to str

In [58]:
starter_df['Total Deaths'].fillna(np.nan, inplace=True)
starter_df['Total Deaths per 100k'].fillna(np.nan, inplace=True)
starter_df['Fully Vaccinated'].fillna(0, inplace=True)
starter_df['Daily Case Avg'].fillna(0, inplace=True)
#starter_df['Daily Case per 100k'].fillna(0, inplace=True)

In [59]:
avg1 = starter_df['Total Deaths'].mean()
avg2 = starter_df['Total Deaths per 100k'].mean()

starter_df['Total Deaths'].fillna(avg1, inplace=True)
starter_df['Total Deaths per 100k'].fillna(avg2, inplace=True)

In [61]:
starter_df['Daily Case Avg'] = starter_df['Daily Case Avg'].apply(lambda x: np.float64(str(x).replace(',','')))
#starter_df['Daily Case per 100k'].replace(to_replace = '<1', value = 0, inplace=True)
#starter_df['Daily Case per 100k'] = starter_df['Daily Case per 100k'].apply(lambda x: np.float64(str(x).replace(',','')))

In [62]:
starter_df['Daily Case 14-Day change %'].fillna(np.nan, inplace=True)
starter_df['Daily Case 14-Day change %'].replace(to_replace = '<1', value = 0, inplace=True)
starter_df['Daily Case 14-Day change %'] = starter_df['Daily Case 14-Day change %'].apply(lambda x: np.float64(str(x).replace(',','')))

In [63]:
starter_df['Deaths Daily Avg.'].fillna(np.nan, inplace=True)
starter_df['Deaths Daily Avg.'] = starter_df['Deaths Daily Avg.'].apply(lambda x: np.float64(str(x).replace(',','')))

In [71]:
fv_mean = starter_df['Fully Vaccinated'].mean()
dca_mean = starter_df['Daily Case Avg'].mean()

starter_df['Fully Vaccinated'].fillna(fv_mean, inplace=True)
starter_df['Daily Case Avg'].fillna(dca_mean, inplace=True)
starter_df.head(50)

,County,Total Cases,Total Cases per 100k,Total Deaths,Total Deaths per 100k,Fully Vaccinated,Daily Case Avg,Daily Case 14-Day change %,Hospitalized Daily Avg,Hosp. Daily per 100k,Hosp. Daily change %,Deaths Daily Avg.,Deaths Daily per 100k
0,Abbeville ›,2576.0,10503.0,41.000000,167.000000,26.0,3.0,9.0,8,-55.0,0.1,0.47,32.000000
1,Acadia ›,6545.0,10549.0,192.000000,309.000000,24.0,15.0,10.0,8,10.0,0.0,NaN,20.000000
2,Accomack ›,2830.0,8757.0,41.000000,127.000000,0.0,13.0,5.0,7,-34.0,0.6,0.23,25.536858
3,Adair ›,3181.0,14333.0,41.000000,185.000000,18.0,6.0,7.0,7,-19.0,0.1,0.18,27.000000
4,Adair ›,865.0,12095.0,32.000000,447.000000,34.0,1.0,9.0,14,99.0,0.1,1.34,39.000000
5,Adair ›,2465.0,9727.0,20.000000,79.000000,30.0,1.0,6.0,11,-12.0,0.0,NaN,19.000000
6,Adair ›,1888.0,9832.0,54.000000,281.000000,23.0,1.0,16.0,20,0.0,0.0,NaN,25.000000
7,Adams ›,1945.0,9619.0,17.000000,84.000000,37.0,1.0,4.0,<NA>,0.0,0.0,NaN,36.000000
8,Adams ›,2970.0,9470.0,46.000000,147.000000,26.0,1.0,6.0,14,156.0,0.0,NaN,29.000000
9,Adams ›,270.0,12184.0,3.000000,135.000000,36.0,1.0,5.0,<NA>,-100.0,0.0,NaN,52.000000
10,Adams ›,8452.0,12917.0,152.000000,232.000000,35.0,10.0,21.0,7,-58.0,0.4,0.88,35.000000
11,Adams ›,3484.0,9738.0,55.000000,154.000000,23.0,2.0,9.0,8,-1.0,0.3,1.09,33.000000
12,Adams ›,2132.0,10669.0,22.000000,110.000000,26.0,23.0,30.0,7,-6.0,0.3,0.38,33.000000
13,Adams ›,341.0,7941.0,4.000000,93.000000,29.0,1.0,4.0,<NA>,-100.0,0.0,NaN,27.000000
14,Adams ›,338.0,9384.0,4.000000,111.000000,37.0,1.0,3.0,2,-48.0,0.0,NaN,37.000000
15,Adams ›,59341.0,11469.0,720.000000,139.000000,0.0,13.0,27.0,<NA>,-100.0,0.1,0.30,25.536858
16,Adams ›,2868.0,9344.0,82.000000,267.000000,26.0,1.0,3.0,6,29.0,0.1,1.28,22.000000
17,Adams ›,9373.0,9099.0,180.000000,175.000000,30.0,57.0,16.0,18,-33.0,0.9,0.25,36.000000
18,Adams ›,2393.0,8640.0,52.000000,188.000000,20.0,3.0,5.0,6,36.0,0.0,NaN,34.000000
19,Ada ›,52189.0,10837.0,467.000000,97.000000,38.0,6.0,5.0,13,-24.0,0.0,NaN,28.000000
20,Addison ›,1042.0,2833.0,8.000000,22.000000,0.0,2.0,6.0,2,-59.0,0.0,NaN,25.536858
21,Adjuntas,549.0,3173.0,184.760281,201.966667,23.0,1.0,5.0,<NA>,0.0,0.0,NaN,28.000000
22,Aguada,1522.0,4156.0,184.760281,201.966667,26.0,1.0,8.0,<NA>,0.0,0.0,NaN,51.000000
23,Aguadilla,1842.0,3640.0,184.760281,201.966667,27.0,2.0,6.0,<NA>,0.0,0.0,NaN,26.000000
24,Aguas Buenas,1355.0,5453.0,184.760281,201.966667,29.0,16.0,9.0,<NA>,0.0,0.0,NaN,34.000000
25,Aibonito,793.0,3581.0,184.760281,201.966667,38.0,2.0,6.0,<NA>,0.0,0.0,NaN,28.000000
26,Aiken ›,17304.0,10127.0,224.000000,131.000000,26.0,2.0,8.0,7,-45.0,0.0,NaN,22.000000
27,Aitkin ›,1347.0,8479.0,36.000000,227.000000,43.0,1.0,7.0,13,-38.0,0.0,NaN,37.000000
28,Alachua ›,25009.0,9296.0,279.000000,104.000000,36.0,11.0,10.0,13,4.0,0.6,0.52,39.000000
29,Alamance ›,18189.0,10730.0,277.000000,163.000000,33.0,34.0,14.0,15,-8.0,0.3,0.12,28.000000
30,Alameda ›,87961.0,5263.0,1657.000000,99.000000,45.0,1.0,6.0,5,-5.0,0.0,NaN,25.536858
31,Alamosa ›,1565.0,9641.0,31.000000,191.000000,0.0,4.0,15.0,<NA>,-100.0,0.0,NaN,25.536858
32,Albany ›,4406.0,11332.0,12.000000,31.000000,34.0,4.0,18.0,<NA>,0.0,0.0,NaN,25.000000
33,Albany ›,24385.0,7982.0,350.000000,115.000000,48.0,8.0,14.0,9,-27.0,0.0,NaN,46.000000
34,Albemarle ›,5768.0,5276.0,83.000000,76.000000,0.0,1.0,2.0,8,-36.0,0.1,2.05,25.536858
35,Alcona ›,726.0,6977.0,29.000000,279.000000,42.0,1.0,17.0,<NA>,0.0,0.0,NaN,50.000000
36,Alcorn ›,3133.0,8478.0,68.000000,184.000000,20.0,1.0,2.0,<NA>,-100.0,0.0,NaN,27.000000
37,Aleutians East Borough ›,365.0,10938.0,3.000000,90.000000,31.0,5.0,9.0,1,-80.0,0.0,NaN,32.000000
38,Aleutians West Census Area,697.0,12371.0,0.000000,201.966667,29.0,14.0,15.0,10,3.0,0.4,0.44,31.000000
39,Alexander ›,468.0,8124.0,11.000000,191.000000,17.0,1.0,3.0,10,24.0,0.0,NaN,35.000000
40,Alexander ›,4397.0,11726.0,84.000000,224.000000,27.0,4.0,19.0,4,-16.0,0.0,NaN,24.000000
41,Alexandria ›,11780.0,7389.0,135.000000,85.000000,0.0,2.0,8.0,7,-27.0,0.1,0.47,25.536858
42,Alfalfa ›,1154.0,20239.0,6.000000,105.000000,33.0,7.0,17.0,7,-15.0,0.1,0.37,24.000000
43,Alger ›,662.0,7268.0,6.000000,66.000000,43.0,10.0,11.0,14,-53.0,0.7,0.77,46.000000
44,Allamakee ›,1514.0,11062.0,51.000000,373.000000,37.0,1.0,6.0,12,300.0,0.0,NaN,36.000000
45,Allegany ›,6912.0,9816.0,208.000000,295.000000,33.0,82.0,14.0,34,-25.0,2.4,0.41,34.000000
46,Allegany ›,3398.0,7372.0,84.000000,182.000000,27.0,19.0,12.0,6,11.0,0.4,0.28,43.000000
47,Allegan ›,10784.0,9133.0,139.000000,118.000000,32.0,394.0,22.0,30,-33.0,14.0,0.80,31.000000
48,Alleghany ›,1051.0,9437.0,5.000000,45.000000,35.0,7.0,11.0,8,-6.0,0.3,0.45,26.000000
49,Alleghany ›,1342.0,9031.0,48.000000,323.000000,0.0,5.0,6.0,4,-61.0,0.0,NaN,25.536858

In [72]:
starter_df.to_csv('data/workable_df.csv')